{% extends '::singleColumnLayout.html.twig' %}

{% block content %}
    <h1>Oeps, Er is iets fout gegaan!</h1>
    <p>{{ exception.message }}</p>
    <p><a href="javascript:history.back()">Klik hier om terug te gaan</a>
{% endblock %}