{% extends '::singleColumnLayout.html.twig' %}

{% form_theme form '::baseForm.html.twig' %}

{% block content %}
    <h1>
        {% if is_granted('ROLE_ADMIN') %}
            Account toevoegen
        {% elseif is_granted('ROLE_TEACHER') %}
            Leerling Toevoegen
        {% endif%}
    </h1>
    <form action="{{ path('MooiUserBundle_UserCreate') }}" method="post" autocomplete="off" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        <div class="button">
            <input type="submit" class="button" value="Opslaan" />
            <p>Velden met een * zijn verplicht.</p>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}
    
    