<!DOCTYPE html>
<html>
    <head>
	<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
	<title>Showkees</title>
    </head>
    <body id="loginPage">
	<div id="logoContainer">
	    <img src="{{ asset('images/showkees500.png') }}" alt="Showkees" id="logo" />
	</div>
	<div id="loginContainer">
	    <form id="loginForm">
	    <fieldset id="fields">
		<label for="userName">Gebruikersnaam</label>
		<input id="userName" placeholder="Gebruikersnaam" type="text" class="inputField" />
		<label for="passWord">Wachtwoord</label>
		<input id="passWord" placeholder="Wachtwoord" type="password" class="inputField" />
	    </fieldset>
	    <fieldset id="button">
		<input type="submit" value="Login" class="button" />
	    </fieldset>
	    <p id="toolTip">
		<img src="{{ asset('images/tabletshowkees40.png') }}" alt="" class="icon" />
		Vul eerst je <strong>Gebruikersnaam</strong> en <strong>Wachtwoord</strong> in. Daarna klik je op <strong>login</strong>
	    </p>
	    </form>
	</div>
    </body>
</html>