{% form_theme filterForm '::baseForm.html.twig' %}

{% block filter %}
    <form id="filterForm" action="{{ path('MooiWallBundle_WallFilter', {'name': wallOwner.username}) }}" method="post" autocomplete="off" {{ form_enctype(filterForm) }} >
        <div class="form_row">
            <div class="clearfix"></div>
        </div>
        {{ form_widget(filterForm) }}
        <div class="button">
            <input type="submit" class="button" value="Zoeken" />
            <div class="clearfix"></div>
        </div>   
    </form>
{% endblock %}
