{% form_theme form '::baseForm.html.twig' %}

{% block postForm %}
    <form id="postForm" action="{{ formAction }}" method="post" autocomplete="off" {{ form_enctype(form) }} >
        <div class="form_row">
            <div class="clearfix"></div>
        </div>
        {{ form_widget(form) }}
        <div class="button">
            <input type="submit" class="button" value="Plaatsen" />
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}