/**
 * Make sure the html and body are at least the size of the browser window.
 */
html
{
    min-height: 100%;
    position: relative;
}

body
{
    font-family: verdana, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 960px;
}

*
{
    padding: 0;
    margin: 0;
}

/**
 * Header
 */
#headerWrapper
{
    height: 50px;
    background-color: #54C2C1;
    margin-bottom: 59px;
}

#headerWrapper header
{
    width: 940px;
    margin: 0px auto;
    padding: 10px;
    position: relative;
}

/*#headerWrapper header h2
{
    position: absolute;
    top: 2em;
    left: 300px;
    color: #fff;
    font-size: 2em;
}*/

/*#headerWrapper header h1
{
    position: absolute;
    top: 10px;
    left: 230px;
    font-size: 3em;
}*/
#headerWrapper h1{
    position: absolute;
    top: 10px;
    left: 230px;
    font-size: 2em;
}
#headerWrapper h1 span{
    color: #fff;
}

/**
 * User menu
 */
#userOptions
{
    position: absolute;
    right: 0px;
    top: 18px;
}

#userOptions>a
{
    display: block;
    padding: 8px;
    height: 20px;
    font-weight: bold;    
    text-decoration: none;
    color: #000;
}

#userOptions:hover>a
{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

#userOptions ul
{
    display: none;
    list-style: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 5px 5px;
    padding: 1px;
}

#userOptions li
{
    margin: 3px;
}

#userOptions li a
{
    display: block;
    padding: 5px;
    border-radius: 5px;
    background: #eee;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#userOptions:hover ul
{
    display: block;
}

/**
 * Content
 */
#contentWrapper
{
     width: 940px;
     margin: 10px auto;
     padding: 10px 10px 140px;
}

#contentWrapper p, #contentWrapper h1
{
    margin: 1em 0;
}

/**
 * Flash messages
 */
#contentWrapper p.flashMessage
{
    border: 2px #c7dfa7 solid;
    border-radius: 5px;
    padding: 12px 12px 12px 45px;
    background-color: #e3efd3;
    background-image: url('../images/noticeIcon.png');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
}

/**
 * Contentforms
 */
 #contentWrapper form>div>div
 {
    border-bottom: 1px #ddd dotted;
    padding: 10px 0;
 }
 
#contentWrapper form>div>div label
{
    width: 200px;
    padding-top: 15px;
    display: inline-block;
}

#contentWrapper form>div>div input, #contentWrapper form>div>div select, #contentWrapper form>div>div textarea
{
    padding: 10px 0;
    height: 50px;
    border: 0px solid #000;
    border-radius: 25px;
    padding: 0px 30px;
    float: right;
    -moz-box-shadow: 3px 3px #243014;
    -webkit-box-shadow: 3px 3px #243014;
    box-shadow: 3px 3px #243014;
    color: #000;
    font-size: 1.5em;    
    background-color: #eeeeee;
}
#contentWrapper form>div>div textArea{
    width: 468px;
    height: 210px;
    padding-top: 10px;
}
#contentWrapper form>div>div textarea + label{
    display: none;
}

#contentWrapper form>div.button
{
    padding: 10px 0;
    text-align: right;
}

#contentWrapper input.button
{
    padding: 10px 0;
    height: 50px;
    border: 0px solid #000;
    border-radius: 25px;
    padding: 0px 30px;
    -moz-box-shadow: 3px 3px #243014;
    -webkit-box-shadow: 3px 3px #243014;
    box-shadow: 3px 3px #243014;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;    
    background-color: #54C2C1;
}

#contentWrapper form ul.errors
{
    color: #ff0000;
    margin-left: 20px;
}

#contentWrapper form>div>ul.errors
{
    margin-bottom: 1em;
}

/**
 * Footer
 */
#footerWrapper
{
    background: #eee;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 120px;
}

#footerWrapper footer
{
     height: 100px;
     width: 940px;
     margin: 0px auto;
     padding: 10px;
}

/**
 * Clearfix to reset floats
 */
 .clearfix
 {
     clear: both;
 }
 
 /**
 * Temp css
 */
 #content_left{
     width: 520px;
 }
 .post, .reply{
     border-bottom: solid 1px #54C2C1;
     padding: 15px 10px;
     color: #666;
     margin-bottom: 10px;
 }
 .reply{
     border-bottom: solid 1px indianred;
 }
 .post:first-child{
     border-top: solid 1px #54C2C1;
 }
 .reply:first-child{
     border-top: solid 1px #54C2C1;
 }
 .replies{
    width: 450px;
    background: #C7DFA7;
    margin-left: 20px;
 }
 .replies h2{
    color: #54C2C1; 
    border-bottom: solid 1px indianred;
    padding: 5px;
 }
 .post h2{
     color: indianred;
     font-size: 20px;
 }
 .post h2 span{
     color: #54C2C1;
 }
 .image_gallery{
     overflow: hidden;
 }
 .image_gallery img{
     float: left;
     margin-right: 5px;
     border: solid 1px #666;
 }
 .postItems, .replyItems{
     padding: 11px 0;
    list-style: none;
 }
 .postItems li, .replyItems li{
    float: left;
    border-left: solid 1px #666;
    padding: 0 10px;
 }
 .postItems li:first-child, .replyItems li:first-child{
     border: none;
     padding-left: 0;
 }
 .postItems li a, .replyItems li a{
    color: #666;
    text-decoration: none;
 }
 .postItems li a:hover, .replyItems li a:hover{
     color: #54C2C1;
 }