/**
 * Make sure the html and body are at least the size of the browser window.
 */
html
{
    min-height: 100%;
    position: relative;
}

body
{
    font-family: verdana, sans-serif;
    overflow-y: scroll;
    min-width: 960px;
}

*
{
    padding: 0;
    margin: 0;
}

/**
 * Customizationstyles
 */
 
    /**
    * Green
    */
    body.green #headerWrapper, body.green .dataTable, body.green .add_post_button, body.green input.button, #colorMenu li.green
    {
        background-color: #46bd48;
    }
    
    body.green #contentWrapper h2, body.green #sidebarColumn input.button
    {
        color: #46bd48;
    }
    
    body.green #contentWrapper a
    {
        color: #339933;
    }
    
    body.green #sidebarColumn #studentSearchField
    {
        border-color: #339933;
    }
    
    body.green #sidebarColumn
    {
        background-image: linear-gradient(bottom, #46bd48 1%, #46bd48 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #46bd48 1%, #46bd48 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #46bd48 1%, #46bd48 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #46bd48 1%, #46bd48 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #46bd48 1%, #46bd48 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #46bd48), color-stop(0.51, #46bd48), color-stop(1, #fff));
    }
    
    body.green #contentWrapper .form_row>input, body.green #contentWrapper .form_row>select, body.green #contentWrapper .form_row>textarea, 
    body.green #notificationArea>div>div, body.green #notificationArea>div>div h4, body.green #notificationArea>div>div li
    {
        border-color: #46bd48;
    }
    
    body.green #notificationArea>div>div, body.green .replies
    {
        background-color: #D6E9D6;
    }

    /**
    * Yellow
    */
    body.yellow #headerWrapper, body.yellow .dataTable, body.yellow .add_post_button, body.yellow input.button, #colorMenu li.yellow
    {
        background-color: #ebde00;
    }
    
    body.yellow #contentWrapper h2, body.yellow #sidebarColumn input.button
    {
        color: #ebde00;
    }
    
    body.yellow #contentWrapper a
    {
        color: #999900;
    }
    
    body.yellow #sidebarColumn #studentSearchField
    {
        border-color: #999900;
    }
    
    body.yellow #sidebarColumn
    {
        background-image: linear-gradient(bottom, #ebde00 1%, #ebde00 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #ebde00 1%, #ebde00 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #ebde00 1%, #ebde00 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #ebde00 1%, #ebde00 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #ebde00 1%, #ebde00 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #ebde00), color-stop(0.51, #ebde00), color-stop(1, #fff));
    }
    
    body.yellow #contentWrapper .form_row>input, body.yellow #contentWrapper .form_row>select, body.yellow #contentWrapper .form_row>textarea, 
    body.yellow #notificationArea>div>div, body.yellow #notificationArea>div>div h4, body.yellow #notificationArea>div>div li
    {
        border-color: #ebde00;
    }
    
    body.yellow #notificationArea>div>div, body.yellow .replies
    {
        background-color: #F3F2E2;
    }

    /**
    * Orange
    */
    body.orange #headerWrapper, body.orange .dataTable, body.orange .add_post_button, body.orange input.button, #colorMenu li.orange
    {
        background-color: #eb8500;
    }
    
    body.orange #contentWrapper h2, body.orange #sidebarColumn input.button
    {
        color: #eb8500;
    }
    
    body.orange #contentWrapper a
    {
        color: #cc6600;
    }
    
    body.orange #sidebarColumn #studentSearchField
    {
        border-color: #cc6600;
    }
    
    body.orange #sidebarColumn
    {
        background-image: linear-gradient(bottom, #eb8500 1%, #eb8500 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #eb8500 1%, #eb8500 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #eb8500 1%, #eb8500 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #eb8500 1%, #eb8500 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #eb8500 1%, #eb8500 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #eb8500), color-stop(0.51, #eb8500), color-stop(1, #fff));
    }
    
    body.orange #contentWrapper .form_row>input, body.orange #contentWrapper .form_row>select, body.orange #contentWrapper .form_row>textarea, 
    body.orange #notificationArea>div>div, body.orange #notificationArea>div>div h4, body.orange #notificationArea>div>div li
    {
        border-color: #eb8500;
    }
    
    body.orange #notificationArea>div>div, body.orange .replies
    {
        background-color: #F7EEE2;
    }
    
    /**
    * Red
    */
    body.red #headerWrapper, body.red .dataTable, body.red .add_post_button, body.red input.button, #colorMenu li.red
    {
        background-color: #df2f2f;
    }
    
    body.red #contentWrapper h2, body.red #sidebarColumn input.button
    {
        color: #df2f2f;
    }
    
    body.red #contentWrapper a, body.red #contentWrapper form ul.errors
    {
        color: #cc3333;
    }
    
    body.red #sidebarColumn #studentSearchField
    {
        border-color: #cc3333;
    }
    
    body.red #sidebarColumn
    {
        background-image: linear-gradient(bottom, #df2f2f 1%, #df2f2f 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #df2f2f 1%, #df2f2f 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #df2f2f 1%, #df2f2f 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #df2f2f 1%, #df2f2f 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #df2f2f 1%, #df2f2f 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #df2f2f), color-stop(0.51, #df2f2f), color-stop(1, #fff));
    }
    
    body.red #contentWrapper .form_row>input, body.red #contentWrapper .form_row>select, body.red #contentWrapper .form_row>textarea, 
    body.red #notificationArea>div>div, body.red #notificationArea>div>div h4, body.red #notificationArea>div>div li
    {
        border-color: #df2f2f;

    }
    
    body.red #notificationArea>div>div, body.red .replies
    {
        background-color: #F5DCDC;
    }

    /**
    * purple
    */
    body.purple #headerWrapper, body.purple .dataTable, body.purple .add_post_button, body.purple input.button, #colorMenu li.purple
    {
        background-color: #a546b6;
    }
    
    body.purple #contentWrapper h2, body.purple #sidebarColumn input.button
    {
        color: #a546b6;
    }
    
    body.purple #contentWrapper a
    {
        color: #993399;
    }
    
    body.purple #sidebarColumn #studentSearchField
    {
        border-color: #993399;
    }
    
    body.purple #sidebarColumn
    {
        background-image: linear-gradient(bottom, #a546b6 1%, #a546b6 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #a546b6 1%, #a546b6 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #a546b6 1%, #a546b6 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #a546b6 1%, #a546b6 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #a546b6 1%, #a546b6 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #a546b6), color-stop(0.51, #a546b6), color-stop(1, #fff));
    }
    
    body.purple #contentWrapper .form_row>input, body.purple #contentWrapper .form_row>select, body.purple #contentWrapper .form_row>textarea, 
    body.purple #notificationArea>div>div, body.purple #notificationArea>div>div h4, body.purple #notificationArea>div>div li
    {
        border-color: #a546b6;

    }
    
    body.purple #notificationArea>div>div, body.purple .replies
    {
        background-color: #EFDFF1;
    }

    /**
    * pink
    */
    body.pink #headerWrapper, body.pink .dataTable, body.pink .add_post_button, body.pink input.button, #colorMenu li.pink
    {
        background-color: #ff99cc;
    }
    
    body.pink #contentWrapper h2, body.pink #sidebarColumn input.button
    {
        color: #ff99cc;
    }
    
    body.pink #contentWrapper a
    {
        color: #cc6699;
    }
    
    body.pink #sidebarColumn #studentSearchField
    {
        border-color: #cc6699;
    }
    
    body.pink #sidebarColumn
    {
        background-image: linear-gradient(bottom, #ff99cc 1%, #ff99cc 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #ff99cc 1%, #ff99cc 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #ff99cc 1%, #ff99cc 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #ff99cc 1%, #ff99cc 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #ff99cc 1%, #ff99cc 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #ff99cc), color-stop(0.51, #ff99cc), color-stop(1, #fff));
    }
    
    body.pink #contentWrapper .form_row>input, body.pink #contentWrapper .form_row>select, body.pink #contentWrapper .form_row>textarea, 
    body.pink #notificationArea>div>div, body.pink #notificationArea>div>div h4, body.pink #notificationArea>div>div li
    {
        border-color: #ff99cc;

    }
    
    body.pink #notificationArea>div>div, body.pink .replies
    {
        background-color: #FFEDF6;
    }

    /**
    * gray
    */
    body.gray #headerWrapper, body.gray .dataTable, body.gray .add_post_button, body.gray input.button, #colorMenu li.gray
    {
        background-color: #666666;
    }
    
    body.gray #contentWrapper h2, body.gray #sidebarColumn input.button
    {
        color: #666666;
    }
    
    body.gray #contentWrapper a
    {
        color: #333333;
    }
    
    body.gray #sidebarColumn #studentSearchField
    {
        border-color: #333333;
    }
    
    body.gray #sidebarColumn
    {
        background-image: linear-gradient(bottom, #666666 1%, #666666 51%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #666666 1%, #666666 51%, #fff 100%);
        background-image: -moz-linear-gradient(bottom, #666666 1%, #666666 51%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #666666 1%, #666666 51%, #fff 100%);
        background-image: -ms-linear-gradient(bottom, #666666 1%, #666666 51%, #fff 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #666666), color-stop(0.51, #666666), color-stop(1, #fff));
    }
    
    body.gray #contentWrapper .form_row>input, body.gray #contentWrapper .form_row>select, body.gray #contentWrapper .form_row>textarea, 
    body.gray #notificationArea>div>div, body.gray #notificationArea>div>div h4, body.gray #notificationArea>div>div li
    {
        border-color: #666666;

    }
    
    body.gray #notificationArea>div>div, body.gray .replies
    {
        background-color: #E9E9E9;
    }
    
/**
 * Header
 */
#headerWrapper
{
    background-color: #54C2C1;
    margin-bottom: 30px;
    height: 80px;
}

#headerWrapper header
{
    width: 940px;
    margin: 0px auto;
    padding: 20px 10px;
    position: relative;
}

#headerWrapper img#logo
{
    position: absolute;
    top: 10px;
}

#headerWrapper h1{
    top: 10px;
    left: 230px;
    font-size: 2em;
    margin-left: 160px;
}

#headerWrapper h1 span{
    color: #fff;
}

/**
 * User menu
 */
#userOptions
{
    position: absolute;
    right: 93px;
    top: 45px;
    z-index: 2;
}

#userOptions>a
{
    display: block;
    padding: 8px;
    height: 19px;
    font-weight: bold;    
    text-decoration: none;
    color: #fff;
    text-align: right;
}

#userOptions:hover>a
{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

#userOptions ul
{
    display: none;
    list-style: none;
    background: #cdcdcd;
    border-radius: 0px 0px 5px 5px;
    padding: 1px;
}

#userOptions li
{
    margin: 3px;
}

#userOptions li a
{
    display: block;
    padding: 5px;
    border-radius: 5px;
    background: #eee;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#userOptions:hover ul
{
    display: block;
}

/**
 * Color menu
 */
#colorMenu
{
    position: absolute;
    top: 0px;
    right: 93px;
    list-style: none;
    line-height: 0px;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px;
    border-radius: 0px 0px 4px 4px;
}

#colorMenu li
{
    width: 10px;
    height: 10px;
    border: 1px #000 solid;
    font-size: 0;
    display: inline-block;
    background: #54C2C1;
    cursor: pointer;
}

/**
 * Notification area
 */
#notificationArea
{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 80px;
    width: 93px;
    background-image: url('../images/notificationIcon.png');
    z-index: 2;
}

#notificationArea>p
{
    padding-top: 40px;
    font-size: 2em;
    display: block;
    text-align: center;
    cursor: pointer;
    height: 40px;
}

#notificationArea.new>p
{
    color: #f05a23;
}

#notificationArea>a
{
    display: none;
}

#notificationArea>div
{
    position: absolute;
    right: 0px;
    top: 80px;
    display: none;
}

#notificationArea:hover>div
{
    display: block;
}

#notificationArea>div>div
{
    margin-top: 2px;
    width: 300px;
    background-color: #edf6f6;
    padding: 10px;
    border: 2px solid #54C2C1;
    border-radius: 12px;
}

#notificationArea.new>div>div
{
    border-color: #f05a23 !important;
}

#notificationArea>div>div h4
{
    border-bottom: #54C2C0 1px solid;
    padding-bottom: 5px;
    text-align: center;
}

#notificationArea>div>div li
{
    list-style: none;
    border-bottom: #54C2C0 1px solid;
    padding: 5px 0;
    font-size: 0.8em;
}

#notificationArea>div>div li p.quote
{
    font-style: italic;
    color: #666;
    font-weight: lighter;
    font-size: 0.8em;
}

#notificationArea>div>div>p
{
    margin-top: 5px;
    text-align: center;
}

#notificationArea>div>div>a
{
    display: block;
    margin-top: 5px;
    text-align: right;
    font-size: 0.7em;
    color: #000;
}

/**
 * Content
 */
#contentWrapper
{
     width: 940px;
     margin: 10px auto;
     padding: 10px 10px 140px;
}

#contentWrapper p, #contentWrapper h1, #contentWrapper h2
{
    margin: 1em 0;
}

#contentWrapper h2
{
    color: #54C2C1;
}
/**
 * Flash messages
 */
#contentWrapper p.flashMessage
{
    border: 2px #c7dfa7 solid;
    border-radius: 5px;
    padding: 12px 12px 12px 45px;
    background-color: #e3efd3;
    background-image: url('../images/noticeIcon.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

/**
 * Contentforms
 */
#contentWrapper form .form_row
{
    border-bottom: 1px #ddd dotted;
    padding: 10px 0;
}
 
#contentWrapper .form_row>label, #contentWrapper .form_row>span.label
{
    font-size: 1.2em;    
    width: 250px;
    padding-top: 8px;
    display: inline-block;
}

#contentWrapper .form_row>span.value
{
    padding: 10px 0;
    margin: 5px;
    padding: 0.2em;
    float: right;
    color: #999;
    font-style: italic;
    font-size: 1.2em;    
    background-color: #fff;
    width: 300px;    
}

#contentWrapper .form_row>input, #contentWrapper .form_row>select, #contentWrapper .form_row>textarea, #contentWrapper #formAvatar input
{
    padding: 10px 0;
    border: 5px solid #54C2C1;
    border-radius: 5px;
    padding: 0.2em;
    float: right;
    color: #666;
    font-style: italic;
    font-size: 1.2em;    
    background-color: #fff;
    width: 300px;
}

#contentWrapper .form_row>.options
{
    float: right;
    width: 300px;
}

#contentWrapper .form_row>.options input
{
    margin-right: 10px;
}

#contentWrapper .form_row>.options label
{
    color: #666;
    font-style: italic;
    font-size: 1.2em;    
}

#contentWrapper form>div>div textArea{
    width: 468px;
    height: 210px;
    padding-top: 10px;
}
#contentWrapper form>div>div textarea + label{
    display: none;
}

#contentWrapper form>div.button
{
    padding: 10px 0;
}

input.button, .add_post_button
{
    padding: 10px 0;
    height: 50px;
    border: 0px solid #000;
    border-radius: 25px;
    padding: 0px 30px;
    -moz-box-shadow: 3px 3px #243014;
    -webkit-box-shadow: 3px 3px #243014;
    box-shadow: 3px 3px #243014;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    float: right;
    background-color: #54C2C1;
}
.add_post_button{
    text-align: center;
    width: 557px;
    height: 75px;
    line-height: 67px;
    color: #fff !important;
    font-size: 37px;
    text-decoration: none;
}

#contentWrapper form ul.errors
{
    color: #ff0000;
    margin-left: 20px;
}

#contentWrapper form>div>ul.errors
{
    margin-bottom: 1em;
}

#contentWrapper a
{
    color: #399;
    font-weight: bold;
}

    /**
    * Avatar form part
    */
    #contentWrapper #formAvatar
    {
        padding: 8px 0;
    }
    
    #contentWrapper #formAvatar *
    {
        margin: 0px;
        padding: 0px;
    }
    
    #contentWrapper #formAvatar #avatarLabelAndErrors
    {
        float: left;
    }
    
    #contentWrapper form #formAvatar ul.errors
    {
        margin-left: 20px;
    }
    
    #contentWrapper #formAvatar .avatar
    {
        width: 100px;
        height: 100px;
        -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
        -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
        -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
        -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
        transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
        padding: 10px 10px 20px 10px;
        display: inline-block;
        margin: 8px 0;
    }

    #contentWrapper #formAvatar #currentAvatar
    {
        float: right;
        text-align: center;
    }

    #contentWrapper #formAvatar h4, #contentWrapper #formAvatar label
    {
        font-size: 1.2em;    
        padding-top: 8px;
        display: inline-block;
        font-weight: normal;
    }

    #contentWrapper #formAvatar .avatar span
    {
        display: block;
        background: #fff;
        border: 1px solid #ddd;
        color: #ddd;
        font-size: 100px;
        text-align: center;
        line-height: 100px;
        height: 100px;
    }
    
    #contentWrapper #formAvatar #newAvatar
    {
        text-align: center;
        float: right;
        border-left: 2px solid #54C2C1;
        padding-left: 20px;
        margin-left: 20px;
        overflow: hidden;
   }
    
    #contentWrapper #formAvatar input
    {
        float: none;
        width: 114px;
    }

/**
 * Sidebar forms
 */
#sidebarColumn .form_row>label
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#sidebarColumn .form_row>input, #sidebarColumn .form_row>select, #sidebarColumn .form_row>textarea
{
    padding: 10px 0;
    border: 5px solid #54C2C1;
    border-radius: 5px;
    padding: 0.2em;
    color: #666;
    float: none;
    max-height: 100px;
    font-style: italic;
    font-size: 1.2em;    
    background-color: #fff;
    width: 262px;
}

#sidebarColumn form .form_row
{
    border-bottom: 1px #fff dotted;
    padding: 10px 0;
}

#sidebarColumn form>div.button
{
    padding: 0 0 13px 0;
}

#sidebarColumn input.button
{
    background-color: #fff;
    color: #54C2C1;
}

/**
 * Data tables
 */
table.dataTable
{
    width: 100%;
    background: #54C2C1;
}

table.dataTable thead
{
    color: #fff;
    text-align: left;
}

table.dataTable thead th
{
    padding: 5px;
}

table.dataTable tbody tr
{
    background: #fafafa;
}

table.dataTable td
{
    padding: 5px;
}

table.dataTable tbody tr:nth-child(even)
{
    background: #f5f5f5;
}

table.dataTable th.action		
{		
    width: 100px;		
}

/**
 * Avatar
 */
.avatar
{
    padding: 10px 10px 20px 10px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-transform: scale(1) rotate(-5deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(-5deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(-5deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(-5deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(-5deg) translate(0px, 0px) skew(0deg, 0deg);
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

/**
 * Confirmation window
 */
.confirm .head, .confirm .body
{
    display: none;
}

.confirmationOverlay
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.confirmation
{
    border: 3px solid #aaa;
    border-radius: 10px 10px 10px 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -120px 0 0 -320px;
    width: 600px;
    height: 150px;
    background: #fff;
    padding: 20px;
    text-align: center;
}

.confirmation h3
{
    margin-bottom: 1em;
}

.confirmation p
{
    line-height: 1.5em;
}


.confirmation input.confirm
{
    background: #8fbf4f !important;
    color: #fff;
    position: absolute;
    right: 150px;
    bottom: 20px;
    text-align: center;
    width: 150px;
}

.confirmation input.cancel
{
    background: #cc3333 !important;
    color: #fff;
    position: absolute;
    left: 150px;
    bottom: 20px;
    text-align: center;
    width: 150px;
}

/**
 * Two column layout
 */
 
    /**
     * Content column
     */
     #contentColumn
     {
         width: 620px;
         float: left;
     }
     
     /**
      * Sidebar colunn
      */
      #sidebarColumn
      {
          width: 280px;
          float: right;
          background-image: linear-gradient(bottom, #54C2C0 1%, #54C2C0 51%, #fff 100%);
          background-image: -o-linear-gradient(bottom, #54C2C0 1%, #54C2C0 51%, #fff 100%);
          background-image: -moz-linear-gradient(bottom, #54C2C0 1%, #54C2C0 51%, #fff 100%);
          background-image: -webkit-linear-gradient(bottom, #54C2C0 1%, #54C2C0 51%, #fff 100%);
          background-image: -ms-linear-gradient(bottom, #54C2C0 1%, #54C2C0 51%, #fff 100%);
          background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, #54C2C0), color-stop(0.51, #54C2C0), color-stop(1, #fff));
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          padding: 0 10px;
          z-index: 1;
      }
      
      #sidebarColumn h1
      {
          font-size: 1.2em;
      }
      
      #sidebarColumn #studentSearchField
      {
          width: 100%;
          background-color: #fff;
          background-image: url('../images/magnifyingGlass.png');
          background-repeat: no-repeat;
          background-position: 250px center;
          padding: 5px;
          font-size: 1.2em;
          width: 265px;
          border-radius: 5px;
          border: 3px #399 solid;
          font-style: italic;
      }
      
      #sidebarColumn #studentList
      {
          list-style: none;
          max-height: 300px;
          overflow: auto;
          margin: 5px 0;
      }

      #sidebarColumn #studentList li
      {
          margin: 5px 0;
      }
      
      #sidebarColumn #studentList a
      {
          padding: 5px;
          border-radius: 5px;
          display: block;
          color: #000;
          background-color: rgba(255, 255, 255, 0.5);
      }
      
/**
 * Footer
 */
#footerWrapper
{
    background: #eee;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 120px;
}

#footerWrapper footer
{
     height: 100px;
     width: 940px;
     margin: 0px auto;
     padding: 10px;
}

/**
 * Clearfix to reset floats
 */
.clearfix
{
    clear: both;
}
 
 /**
 * Temp css
 */

 .post, .reply{
     border-bottom: solid 1px #54C2C1;
     padding: 15px 10px;
     color: #666;
     margin-bottom: 10px;
     position: relative;
     clear: both;
 }
 .reply .avatar_left{
     float: left;
 }
 .reply .avatar_right{
     float: right;
 }
 .reply img + p a{
     text-decoration: none;
 }
 #contentWrapper .reply p{
     margin: 0;
 }
 #contentWrapper .reply .reply_right{
     float: right;
     margin-left: 10px;
     width: 406px;
 }
 #contentWrapper .reply .reply_left{
     float: left;
     margin-right: 10px;
     width: 406px;
 }
 .post > img{
     float: left;
     margin-right: 10px;
     width: 106px;
 }
 #contentColumn .post h2{
     margin-top: 0;
 }
 #contentColumn #formMenu + .post{
     padding-top: 30px;
 }
 #contentColumn #formMenu + .post h2{
     border-top: solid 1px #54C2C1;
     padding-top: 25px;
 }
 #contentColumn .post > p{
     width: 460px;
     float: right;
     margin: 0;
 }
 .reply{
     border-bottom: solid 1px #399;
 }
 .reply:first-child{
     border-top: solid 1px #54C2C1;
 }
 .replies{
    background: #edf6f6;
    margin-left: 55px;
    position: relative;
 }
 .replies h2{
    color: #54C2C1; 
    border-bottom: solid 1px #399;
    padding: 5px;
 }
 #contentWrapper .replyMenu{
    position: absolute;
    bottom: 11px;
    right: 13px;
    list-style: none;
 }
 #contentWrapper .replyMenu li{
     display: inline; 
 }
 #contentWrapper .replyMenu li a{
     text-decoration: none;
 }
 .post h2{
     color: #ff000 !important;
     font-size: 20px;
     text-align: right;
 }
 .post h2 span{
     color: #6666;
 }
 #contentColumn #formMenu + .post .delete_post_button{
    position: absolute;
    top: 52px;
    left: 45px;
 }
 #contentColumn #formMenu + .post .edit_post_button{
    position: absolute;
    top: 52px;
    left: 12px;
 }
 .post a .delete_post_button{
    position: absolute;
    top: 13px;
    left: 45px;;
 }
 .post a .edit_post_button{
    position: absolute;
    top: 13px;
    left: 12px;
 }
 .image_gallery{
     overflow: hidden;
     clear: both;
     padding-top: 10px;
 }
 .image_gallery img{
     float: left;
     margin-right: 5px;
     border: solid 1px #666;
 }
 .postItems, .replyItems{
     padding: 11px 0;
    list-style: none;
 }
 .replyItems{
     clear: both;
 }
 .postItems li, .replyItems li{
    display: inline;
    border-left: solid 1px #666;
    padding: 0 10px;
 }
 .postItems li:first-child, .replyItems li:first-child{
     border: none;
     padding-left: 0;
 }
 .postItems li a, .replyItems li a{
    color: #666;
    text-decoration: none;
 }
 .postItems li a:hover, .replyItems li a:hover{
     color: #54C2C1;
 }
 .postItems li:first-child{
     max-width: 190px;
 }
 .postItems li p{
     margin: 0 0 0 7px !important;
 }
 .likes{
     display: inline;
 }
 #contentWrapper .empty{
    text-align: center;
    clear: both;
    padding-top: 50px;  
 }
 #sidebarColumn #filterForm .form_row{
     border: none;
}
#sidebarColumn #filterForm .form_row select{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    -moz-box-shadow:    inset 0 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 0 10px #000000;
   box-shadow:         inset 0 0 0 10px #000000;
}
#sidebarColumn #filterForm .form_row > label{
    margin: 0;
    color: #fff;
    font-size: 45px;
    height: 50px;
}
#filterColumn{
    position: relative;
}
#filterColumn img{
    position: absolute;
}
#filterColumn img:first-child{
    top: 20px;
    right: 1px;
    z-index: -1;
}
#sidebarColumn #WallFilter input + .form_row{
    height: 126px;
    background: url(../images/vakken_icon.png) no-repeat 89% 17px;
    padding-top: 47px;
}
#sidebarColumn #WallFilter .form_row{
    padding-top: 20px;
    background: url(../images/jaar_icon.png) no-repeat 89% -6px;
}
#WallFilter_time_date select{
    disply: none; 
}
#WallFilter_time_date_year{
    width: 264px;
    height: 46px;
    color: #666;
    float: none;
    max-height: 100px;
    font-style: italic;
    font-size: 1.2em;
    border: 1px solid #54C2C1;
}
#WallFilter_time_date_month, #WallFilter_time_date_day, #WallFilter_time_time{
    display: none;
}
#contentWrapper #filterForm .form_row > select{
   border: 1px solid #54C2C1;
   z-index: 2;
}
#sidebarColumn #filterForm .form_row{
    border: none;
    
}